{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
